@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-display: 'League Spartan', 'sans-serif';

    /* COLORS */
    --Desaturated-DarkCyan: hsl(180, 29%, 50%);
    --Light-Grayish-Cyan-Bg: hsl(180, 52%, 96%);
    --Light-Grayish-Cyan-FilterTablets: hsl(180, 31%, 95%);
    --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
    --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);

    --desktop-bg-img: url(/images/bg-header-desktop.svg);
    --mobile-bg-img: url(/images/bg-header-mobile.svg);

    --animate-opacity: opac 0.7s linear;
    @keyframes opac {
      0%,
      0% {
        opacity: 0;
      }
      100% {
        opacity:1;
      }
    }
}
.headerbg{
  background-image: url(/images/bg-header-mobile.svg);
}
@media screen and (min-width: 768px) {
  .headerbg{
    background-image: url(/images/bg-header-desktop.svg);
  }
}

 

